NameSorter/Name-Sorter.Repository.Tests/obj/
NameSorter/Name-Sorter/bin/
NameSorter/Name-Sorter/obj/
Name-Sorter.Repository/bin/
Name-Sorter.Repository/obj/
NameSorter/Name-Sorter.INameSorterService/bin/
NameSorter/Name-Sorter.INameSorterService/obj/
NameSorter/Name-Sorter.IRepository/bin/
NameSorter/Name-Sorter.IRepository/obj/
NameSorter/NameSorter.NameSorterService.Tests/bin/
NameSorter/NameSorter.NameSorterService.Tests/obj/
NameSorter/Name-Sorter.NameSorterService/bin/
NameSorter/Name-Sorter.NameSorterService/obj/
NameSorter/Name-Sorter.Repository.Tests/bin/
NameSorter/.vs/
NameSorter/Name-Sorter.Repository/bin/
NameSorter/Name-Sorter.Repository/obj/
